<div class="awards-widget" id="awards-widget">
    <div class="awards-widget__btn">
        <img src="/assets/img/awards-widget/arrow.svg" alt="" />
    </div>
    <div class="awards-widget__body">
        <a href="#" class="awards-widget__item">
            <div class="awards-widget__icon-wrap">
                <img src="/assets/img/awards-widget/1.svg" alt="" />
            </div>
            <div class="awards-widget__info">
                <div class="awards-widget__info-inner">
                    <strong>ТОП 100</strong> <br />Юридичних компаній України
                </div>
            </div>
        </a>
        <a href="#" class="awards-widget__item">
            <div class="awards-widget__icon-wrap">
                <img src="/assets/img/awards-widget/2.svg" alt="" />
            </div>
            <div class="awards-widget__info">
                <div class="awards-widget__info-inner">
                    <strong>ТОП 10</strong> У галузі захисту з військового права
                </div>
            </div>
        </a>
        <a href="#" class="awards-widget__item">
            <div class="awards-widget__icon-wrap">
                <img src="/assets/img/awards-widget/3.svg" alt="" />
            </div>
            <div class="awards-widget__info">
                <div class="awards-widget__info-inner">
                    <strong>Зірки</strong> нової генерації юридичного ринку України
                </div>
            </div>
        </a>
    </div>
</div>