.big-videos .video-preview {
	position: relative;
	cursor: pointer;
	&__img {
		padding-top: 54.716981%;

		position: relative;
		&::after,
		&::before {
			position: absolute;
			content: "";
			transition: 0.2s ease-out;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			transition: 0.4s ease-out;
		}
		&::before {
			background: linear-gradient(180deg, rgba(19, 21, 60, 0.63) 0%, rgba(19, 21, 60, 0.31) 100%);
			z-index: 1;
		}
		&::after {
			background: rgba(0, 0, 0, 0);
			z-index: 2;
		}
		img {
			transition: 1s ease-out;
		}
	}

	&__icon {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		transition: 0.3s ease-out;
		@media (max-width: 600px) {
			width: 66px;
			height: 66px;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.video-preview__icon {
				color: #69cccb;
			}
			.video-preview__img img {
				transform: scale(1.05);
			}
			.video-preview__img::before {
				// background: linear-gradient(180deg, rgba(19, 21, 60, 0.63) 0%, rgba(19, 21, 60, 0.31) 100%);
			}
			.video-preview__img::after {
				background: rgba(0, 0, 0, 0.3);
			}
		}
	}
}

.big-videos {
	overflow: hidden;
	&__container {
	}

	&__body {
		@media (max-width: 768px) {
			margin-left: -16px;
			margin-right: -16px;
		}
		@media (min-width: 769px) {
			max-width: 800px;
		}
		@media (min-width: 1440px) {
			max-width: 1060px;
		}
		margin-left: auto;
		margin-right: auto;

		position: relative;
	}

	&__slider {
	}
}
.videos-slider {
	&.swiper {
		overflow: visible;
	}
	&__wrapper {
	}

	&__slide {
		@media (min-width: 769px) {
			&.swiper-slide {
				overflow: hidden;
				.videos-slide__body {
					transform: scale(0.76);
					filter: blur(5px);
					transition: 0.5s;
				}
				.video-preview.popup-link {
					pointer-events: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
			}
			&.swiper-slide.swiper-slide-prev {
				.videos-slide__body {
					transform: scale(0.76) translateX(30%);
				}
			}
			&.swiper-slide.swiper-slide-next {
				.videos-slide__body {
					transform: scale(0.76) translateX(-30%);
				}
			}
			&.swiper-slide-active {
				// position: relative;
				// z-index: 2;
				.videos-slide__body {
					transform: scale(1);
					filter: blur(0px);
				}

				.video-preview.popup-link {
					pointer-events: auto;
					-webkit-user-select: auto;
					-moz-user-select: auto;
					-ms-user-select: auto;
					user-select: auto;
				}
			}
		}
	}
}
.videos-slide {
	&__body {
	}
}
.video-preview {
	&__img {
	}

	&__icon {
	}
}
.big-videos .g-slider {
	&__control {
	}

	&__pagination {
	}

	&__btn-prev,
	&__btn-next {
		position: absolute;
		top: calc(50% - 20px);
		@media (max-width: 600px) {
			top: calc(50% - 14px);
		}
		transform: translate(0, -50%);
		z-index: 4;

		@media (max-width: 992px) {
			width: 40px;
			height: 40px;
			svg {
				width: 16px;
			}
			border-radius: 50%;
			border: 1px solid #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		color: #ffffff;
		transition: 0.2s ease-out;
		cursor: pointer;
		@media (min-width: 993px) {
			padding: 10px 0;
			@media (any-hover: hover) {
				&:hover {
					color: #69cccb;
				}
			}
		}

		svg._pc-arrow {
			@media (max-width: 992px) {
				display: none;
			}
		}

		svg._mob-arrow {
			@media (min-width: 993px) {
				display: none;
			}
		}
	}

	&__btn-prev {
		left: 0px;
		svg {
			transform: rotate(180deg);
		}
	}

	&__btn-next {
		right: 0px;
	}
	@media (min-width: 769px) {
		&__btn-prev {
			left: -16px;
		}
		&__btn-next {
			right: -16px;
		}
	}
	@media (min-width: 993px) {
		&__btn-prev {
			left: -55px;
		}
		&__btn-next {
			right: -55px;
		}
	}
}
