.about-us {
  overflow: hidden;
}

@media (min-width: 993px) {
  .about-us .about-us__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about-us .about-us__column:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (min-width: 993px) {
  .about-us .about-us__column:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-us .about-us__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68.75%;
          flex: 0 0 68.75%;
}
.about-us .about-us__title {
  margin: 90px 0 51px 0;
}
.about-us .about-us__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us .about-us__logo img {
  width: 85.5%;
}
@media (min-width: 993px) {
  .about-us .about-us__logo:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: -125px;
    top: 0;
    height: 100%;
    width: 1000%;
    background-color: #4C519E;
  }
}

.about-us .info-about {
  padding: 114px 0 114px 67px;
  position: relative;
}
.about-us .info-about:before {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 1000%;
  background-color: #13153C;
}
.about-us .info-about__title, .about-us .info-about__text {
  color: #FFFFFF;
}
.about-us .info-about__title {
  margin: 0 0 26px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1944444444;
  text-transform: uppercase;
}

.about-us .service-links {
  padding: 57px 0 53px 26.7045454545%;
}
.about-us .service-links__title {
  margin: 0 0 24px 0;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.2173913043;
  color: #242424;
}
.about-us .service-links__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-us .service-links__item {
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.about-us .service-links__item:not(:last-child) {
  margin: 0 30px 0 0;
}
.about-us .service-links__item:hover, .about-us .service-links__item:focus {
  color: #FFFFFF;
}

/*===================================================================================================================*/
@media (max-width: 992px) {
  .about-us {
    padding: 83px 0 50px;
  }
  .about-us .about-us__column:nth-child(1) {
    position: relative;
  }
  .about-us .about-us__title {
    margin: 0 0 123px 0;
  }
  .about-us .about-us__logo {
    position: absolute;
    top: calc(100% + 23px);
    right: 0;
    width: 208px;
    height: 189px;
    background-color: #4C519E;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us .about-us__logo img {
    width: 134px;
  }
  .about-us .service-links {
    padding: 23px 0 0 0;
  }
  .about-us .service-links__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*===================================================================================================================*/
@media (max-width: 600px) {
  .about-us {
    padding: 40px 0 25px;
  }
  .about-us .info-about {
    padding: 114px 0 46px 38px;
  }
  .about-us .info-about__title {
    font-size: 23px;
  }
  .about-us .service-links__title {
    font-size: 18px;
    line-height: 1.2777777778;
  }
  .about-us .service-links__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us .service-links__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
.services.private-services {
  padding: 100px 0 50px;
}
.services.corporate-services {
  padding: 50px 0;
}

@media (min-width: 993px) {
  .services .services__body {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}
.services .services__title {
  -ms-grid-row-align: end;
  align-self: end;
  grid-area: services__title;
}
.services .services__image {
  grid-area: services__image;
  height: 808px;
}
.services .services__catalog {
  -ms-grid-row-align: start;
  align-self: start;
  grid-area: services__catalog;
}
.services .services__button {
  margin: 42px 0 0 0;
  width: 366px;
}
.services .services__button:hover {
  color: #FFFFFF;
}

.private-services.services .services__body {
  gap: 30px 45px;
  -ms-grid-columns: 1fr 45px 50%;
  grid-template-columns: 1fr 50%;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: "services__title services__image" "services__catalog services__image";
}

.corporate-services.services .services__body {
  gap: 30px 45px;
  -ms-grid-columns: 50% 45px 1fr;
  grid-template-columns: 50% 1fr;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: "services__image services__title " "services__image services__catalog";
}

@media (min-width: 601px) {
  .services .catalog-services__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 47px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0 47px;
  }
}

.services .usual-list__item:not(:last-child) {
  margin: 0 0 22px 0;
}

/*===================================================================================================================*/
@media (max-width: 1439px) {
  .services .services__image {
    -ms-grid-row-align: start;
    -ms-flex-item-align: start;
        align-self: start;
    height: 650px;
  }
  .services .services__button {
    margin: 34px 0 0 0;
    width: 366px;
  }
  .private-services.services .services__body {
    -ms-grid-columns: 1fr 36px 45.3125%;
    grid-template-columns: 1fr 45.3125%;
    gap: 24px 36px;
  }
  .corporate-services.services .services__body {
    -ms-grid-columns: 45.3125% 36px 1fr;
    grid-template-columns: 45.3125% 1fr;
    gap: 24px 36px;
  }
  .services .catalog-services__row {
    -ms-grid-columns: 1fr 35px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0 35px;
  }
  .services .usual-list__item {
    font-size: 15px;
  }
  .services .usual-list__item:not(:last-child) {
    margin: 0 0 18px 0;
  }
  .services .usual-list__item:before {
    top: 9px;
  }
}
/*===================================================================================================================*/
@media (max-width: 992px) {
  .services.private-services, .services.corporate-services {
    padding: 50px 0;
  }
  .services .services__title {
    margin: 0 0 23px 0;
  }
  .services .services__image {
    margin: 0 0 26px 0;
    height: 500px;
  }
  .services .services__button {
    margin: 25px auto 0;
    width: 366px;
  }
  .corporate-services.services .services__image img {
    -o-object-position: center 70%;
    object-position: center 70%;
  }
  .services .catalog-services__row {
    -ms-grid-columns: 1fr 47px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0 47px;
  }
  .services .usual-list__item {
    font-size: 17px;
  }
  .services .usual-list__item:not(:last-child) {
    margin: 0 0 19px 0;
  }
  .services .usual-list__item:before {
    top: 11px;
  }
}
/*===================================================================================================================*/
@media (max-width: 600px) {
  .services.private-services {
    padding: 25px 0 20px;
  }
  .services.corporate-services {
    padding: 20px 0;
  }
  .services .services__image {
    height: 363px;
  }
  .services .services__button {
    height: 50px;
  }
  .services .catalog-services__column:not(:last-child) {
    margin: 0 0 19px 0;
  }
  .services .usual-list__item {
    font-size: 15px;
    line-height: 1.4;
  }
  .services .usual-list__item:before {
    top: 7px;
  }
}
/*===================================================================================================================*/
@media (max-width: 425px) {
  .services .services__button {
    width: 100%;
  }
}
.demand {
  padding: 110px 0 150px;
  position: relative;
}

.demand .demand__title {
  width: 62.5%;
  margin: 0 0 55px 0;
  line-height: 50px;
}
.demand .demand__title span {
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 30px;
  line-height: 1.3043478261;
}
@media (min-width: 993px) {
  .demand .demand__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .demand .demand__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .demand .demand__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .demand .demand__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.demand .demand__images {
  width: 100%;
}

.demand .main-demand-image {
  width: 100%;
}
.demand .main-demand-image__body {
  width: 100%;
  padding: 77.65625% 0 0 0;
}

.demand .bg-demand-image {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: calc((100% - 1280px) / 2 + 1280px - 880px);
}
.demand .bg-demand-image__body {
  width: 100%;
  height: 567px;
}

.demand .catalog-demand {
  padding: 0 20px 0 0;
}
.demand .catalog-demand__title {
  margin: 0 0 22px 0;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.5238095238;
  text-transform: uppercase;
  color: #242424;
}
.demand .catalog-demand__list .usual-list__item:not(:last-child) {
  margin: 0 0 12px 0;
}

/*===================================================================================================================*/
@media (max-width: 1439px) {
  .demand .bg-demand-image {
    width: calc((100% - 1024px) / 2 + 1024px - 660px);
  }
  .demand .bg-demand-image__body {
    height: 500px;
  }
}
/*===================================================================================================================*/
@media (max-width: 992px) {
  .demand .demand__title {
    margin: 0 0 150px 0;
  }
  .demand .demand__images {
    width: 72.9166666667%;
  }
  .demand .main-demand-image__body {
    height: 400px;
    padding: 0;
  }
  .demand .bg-demand-image {
    top: 321px;
    width: 525px;
  }
  .demand .bg-demand-image__body {
    height: 400px;
  }
  .demand .bg-demand-image__body img {
    -o-object-position: left;
       object-position: left;
  }
  .demand .catalog-demand {
    margin: 23px 0 0 0;
    padding: 0;
  }
}
/*===================================================================================================================*/
@media (max-width: 768px) {
  .demand .demand__title {
    width: 100%;
    margin: 0;
    padding: 0 0 23px 0;
  }
  .demand .demand__images {
    margin: 210px 0 0 0;
    position: relative;
    width: 100%;
  }
  .demand .main-demand-image {
    width: 72.9166666667%;
  }
  .demand .main-demand-image__body {
    height: 350px;
  }
  .demand .bg-demand-image {
    width: 72.9166666667%;
    top: -60%;
    right: -16px;
  }
  .demand .bg-demand-image__body {
    height: 350px;
  }
  .demand .bg-demand-image__body img {
    -o-object-position: center;
       object-position: center;
  }
}
/*===================================================================================================================*/
@media (max-width: 600px) {
  .demand {
    padding: 50px 0 75px;
  }
  .demand .demand__title span {
    margin: 0;
    font-size: 23px;
  }
  .demand .demand__images {
    margin: 150px 0 0 0;
  }
  .demand .main-demand-image__body {
    height: 250px;
  }
  .demand .bg-demand-image__body {
    height: 250px;
  }
  .demand .catalog-demand__title {
    font-size: 18px;
    line-height: 1.3888888889;
    margin: 0 0 17px 0;
  }
  .demand .catalog-demand__list .usual-list__item {
    line-height: 21px;
  }
  .demand .catalog-demand__list .usual-list__item:not(:last-child) {
    margin: 0 0 19px 0;
  }
}
/*===================================================================================================================*/
@media (max-width: 425px) {
  .demand .demand__images {
    margin: 44% 0 0 0;
  }
  .demand .main-demand-image__body {
    height: unset;
    padding: 100% 0 0 0;
  }
  .demand .bg-demand-image__body {
    height: unset;
    padding: 100% 0 0 0;
  }
}/*# sourceMappingURL=all_index_style.css.map */