.main-screen .main-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-screen .main-screen__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 0.6em 0;
}
.main-screen .main-screen__body .socials {
  position: absolute;
  top: 0.35em;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-screen .main-screen__body .socials__link {
  font-size: 0;
}
.main-screen .main-screen__body .socials__link:not(:last-child) {
  margin: 0 0 32px 0;
}
.main-screen .main-screen__body:after {
  display: none;
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 51.328125%;
  height: 1px;
  background-color: #ffffff;
}
.main-screen .main-screen__background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.main-screen .main-screen__title, .main-screen .main-screen__subtitle, .main-screen .main-screen__comment {
  font-family: "Bahnschrift", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.02em;
}
.main-screen .main-screen__title {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.04;
}
.main-screen .main-screen__subtitle {
  font-weight: normal;
  font-size: 0.5em;
  line-height: 1.685;
}
.main-screen .main-screen__comment {
  position: absolute;
  top: calc(100% + 0.4em);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: normal;
  font-size: 0.25em;
  line-height: 1.685;
  white-space: nowrap;
}

.footer__links {
  margin-top: 10px;
}

.footer__links .item-link {
  font-size: 17px;
  line-height: 1.38889;
  color: #ffffff;
  display: inline-block;
  margin-right: 14px;
  opacity: 0.7;
}

.footer__links .item-link:hover {
  opacity: 1;
}

@media (max-width: 1350px) {
  .footer__links .item-link {
    font-size: 15px;
  }
}
@media (max-width: 1439px) {
  .team .team__title {
    padding: 0;
  }
  .why {
    padding: 100px 0 100px;
  }
  .why-numbers {
    padding: 85px 0 110px;
  }
}
@media (max-width: 600px) {
  .why {
    padding: 40px 0;
  }
  .why-numbers {
    padding: 40px 0 55px;
  }
}
.appeal-main-screen__container {
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 993px) {
  .appeal-main-screen__container {
    font-size: 50px;
    width: 668px;
  }
}

.feedback {
  overflow: hidden;
}
.feedback__title {
  margin-bottom: 40px;
}
@media (min-width: 601px) {
  .feedback__title {
    margin-bottom: 60px;
  }
}
.feedback__body {
  position: relative;
}
@media (max-width: 768px) {
  .feedback .feedback-slider.swiper {
    overflow: visible;
  }
}
.feedback .feedback-slide {
  padding: 1px;
}
.feedback .feedback-slide.swiper-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 600px) {
  .feedback .feedback-slide {
    padding-right: 16px;
  }
}
.feedback .feedback-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #242424;
  padding: 28px;
}
@media (min-width: 426px) {
  .feedback .feedback-slide__body {
    padding: 40px;
  }
}
@media (min-width: 993px) {
  .feedback .feedback-slide__body {
    padding: 63px;
  }
}
.feedback .feedback-slide__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  color: #242424;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}
@media (min-width: 601px) {
  .feedback .feedback-slide__text {
    margin-top: 28px;
    font-size: 18px;
    line-height: 140%;
  }
}
.feedback .feedback-slide__footer {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-top: 1px solid #242424;
  margin-top: 20px;
  padding-top: 20px;
}
@media (min-width: 601px) {
  .feedback .feedback-slide__footer {
    margin-top: 28px;
    padding-top: 28px;
  }
}
@media (min-width: 993px) {
  .feedback .client-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.feedback .client-feedback__avatar {
  margin-bottom: 10px;
  width: 52px;
  height: 52px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  border-radius: 50%;
}
@media (min-width: 601px) {
  .feedback .client-feedback__avatar {
    margin-right: 21px;
  }
}
@media (min-width: 993px) {
  .feedback .client-feedback__avatar {
    margin-bottom: 0;
  }
}
.feedback .client-feedback__info {
  color: #242424;
  font-size: 15px;
  line-height: 140%;
}
@media (min-width: 601px) {
  .feedback .client-feedback__info {
    font-size: 18px;
  }
}
.feedback .client-feedback__name {
  font-weight: 700;
}
.feedback .client-feedback__status {
  font-weight: 500;
}

@media (min-width: 769px) {
  .feedback .g-slider__pagination {
    display: none;
  }
}
.feedback .g-slider__btn-prev, .feedback .g-slider__btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #141414;
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.feedback .g-slider__btn-prev svg, .feedback .g-slider__btn-next svg {
  width: 16px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
@media (min-width: 993px) {
  .feedback .g-slider__btn-prev, .feedback .g-slider__btn-next {
    width: 60px;
    height: 60px;
  }
  .feedback .g-slider__btn-prev svg, .feedback .g-slider__btn-next svg {
    width: 24px;
  }
}
@media (any-hover: hover) {
  .feedback .g-slider__btn-prev:hover, .feedback .g-slider__btn-next:hover {
    background-color: hsl(179, 49%, 85%);
  }
}
.feedback .g-slider__btn-prev {
  left: -16px;
}
.feedback .g-slider__btn-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.feedback .g-slider__btn-next {
  right: -16px;
}
@media (min-width: 993px) {
  .feedback .g-slider__btn-prev {
    left: -30px;
  }
  .feedback .g-slider__btn-next {
    right: -30px;
  }
}

.listing {
  padding-left: 20px;
}

.listing::before {
  position: absolute;
  left: 0;
  top: 9px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #69cccb;
}

.page-appeal__pre {
  margin-top: 40px;
  margin-bottom: 40px;
}

.appel__pre {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
}

.appeal__pre:not(:last-child) {
  margin-bottom: 10px;
}

.appeal-detail {
  margin-bottom: 40px;
}

.appeal-detail__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

.accounting-services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 993px) {
  .accounting-services__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 993px) {
  .accounting-services__info {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.accounting-services__photo {
  margin-bottom: 20px;
}
@media screen and (min-width: 993px) {
  .accounting-services__photo {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.accounting-services__pic {
  display: block;
  width: 100%;
  height: auto;
}

.accounting-services__title--mobile {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
}
@media screen and (min-width: 993px) {
  .accounting-services__title--mobile {
    display: none;
  }
}

.accounting-services__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
}
@media screen and (max-width: 992px) {
  .accounting-services__title {
    display: none;
  }
}

.accounting-services__list {
  padding: 30px;
  background-color: #d9d9d9;
}

.accounting-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 400;
  font-size: 17px;
  line-height: 141%;
  color: #242424;
}

.accounting-services__item::before {
  margin-right: 10px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #69cccb;
}

.accounting-services__btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 992px) {
  .accounting-services__btn {
    display: none;
  }
}

.benefits {
  margin-top: 60px;
  margin-bottom: 60px;
}

.benefits__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

@media screen and (min-width: 993px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #f4f4f4;
}
@media screen and (min-width: 993px) {
  .benefits__item {
    width: 302px;
  }
}

@media screen and (max-width: 992px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.benefits__icon {
  margin-bottom: 20px;
}

.benefits__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #242424;
}

.position__head {
  background-color: #4c519e;
  padding: 20px;
}

.position__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
}

.position__subtitle {
  font-size: 17px;
  line-height: 140%;
  color: #fff;
}

.rule__position {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.rule__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
}

@media screen and (min-width: 993px) {
  .positions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

.positions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 993px) {
  .positions__item {
    width: 50%;
  }
}

.rule__list {
  margin-right: 20px;
}

.rule__item {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.how-order {
  margin-top: 60px;
  margin-bottom: 60px;
}

.how-order__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #4c519e;
}

@media screen and (min-width: 993px) {
  .how-order__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

.how-order__item {
  padding: 20px;
  background-color: #f4f4f4;
}
@media screen and (min-width: 993px) {
  .how-order__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 992px) {
  .how-order__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.how-order__icon {
  margin-bottom: 20px;
}

.how-order__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
}

.team {
  margin-bottom: 60px;
}
@media screen and (min-width: 993px) {
  .team {
    margin-bottom: 100px;
  }
}

.feedback {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 993px) {
  .feedback {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=appeal.css.map */