.main-screen .main-screen {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 0 0.6em 0;
    .socials {
      position: absolute;
      top: 0.35em;
      //top: 35px;
      right: 0;
      display: flex;
      flex-direction: column;
      &__link {
        font-size: 0;
      }
      &__link:not(:last-child) {
        margin: 0 0 32px 0;
      }
    }
    &:after {
      display: none;
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: (657px/1280px) * 100%;
      height: 1px;
      background-color: #ffffff;
    }
  }
  &__background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__title,
  &__subtitle,
  &__comment {
    font-family: 'Bahnschrift', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.02em;
  }

  &__title {
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.04;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 0.5em;
    line-height: 1.685;
  }

  &__comment {
    position: absolute;
    top: calc(100% + (0.1 / 0.25) * 1em);
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: normal;
    font-size: 0.25em;
    line-height: 1.685;
    white-space: nowrap;
  }
}

.footer__links {
  margin-top: 10px;
}
.footer__links .item-link {
  font-size: 17px;
  line-height: 1.38889;
  color: #ffffff;
  display: inline-block;
  margin-right: 14px;
  opacity: 0.7;
}
.footer__links .item-link:hover {
  opacity: 1;
}
@media (max-width: 1350px) {
  .footer__links .item-link {
    font-size: 15px;
  }
}

@media (max-width: 1439px) {
  .team .team__title {
    padding: 0;
  }

  .why {
    padding: 100px 0 100px;
  }

  .why-numbers {
    padding: 85px 0 110px;
  }
}

@media (max-width: 600px) {
  .why {
    padding: 40px 0;
  }

  .why-numbers {
    padding: 40px 0 55px;
  }
}

.appeal-main-screen__container {
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 20px;

  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  @media screen and (min-width: 993px) {
    font-size: 50px;
    width: 668px;
  }

  // @media screen and (min-width: 1440px) {
  //   font-size: 65px;
  //   width: 668px;
  // }
}

// Feedback
.feedback {
  overflow: hidden;
  &__container {
  }

  &__title {
    margin-bottom: 40px;
    @media (min-width: 601px) {
      margin-bottom: 60px;
    }
  }

  &__body {
    position: relative;
  }

  &__slider {
  }
}
.feedback .feedback-slider {
  @media (max-width: 768px) {
    &.swiper {
      overflow: visible;
    }
  }
  &__wrapper {
  }

  &__slide {
  }
}
.feedback .feedback-slide {
  &.swiper-slide {
    height: auto;
    display: flex;
  }
  padding: 1px;
  @media (max-width: 600px) {
    padding-right: 16px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #242424;
    padding: 28px;
    @media (min-width: 426px) {
      padding: 40px;
    }
    @media (min-width: 993px) {
      padding: 63px;
    }
  }

  &__qoutes {
  }

  &__text {
    flex: 1;
    margin-top: 20px;
    color: #242424;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    @media (min-width: 601px) {
      margin-top: 28px;
      font-size: 18px;
      line-height: 140%;
    }
  }

  &__footer {
    align-self: stretch;
    border-top: 1px solid #242424;

    margin-top: 20px;
    padding-top: 20px;
    @media (min-width: 601px) {
      margin-top: 28px;
      padding-top: 28px;
    }
  }

  &__client {
  }
}
.feedback .client-feedback {
  @media (min-width: 993px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__avatar {
    margin-bottom: 10px;
    width: 52px;
    height: 52px;
    flex: 0 0 52px;
    border-radius: 50%;
    @media (min-width: 601px) {
      margin-right: 21px;
    }
    @media (min-width: 993px) {
      margin-bottom: 0;
    }
  }

  &__info {
    color: #242424;
    font-size: 15px;
    line-height: 140%;
    @media (min-width: 601px) {
      font-size: 18px;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__status {
    font-weight: 500;
  }
}
.feedback .g-slider {
  &__control {
  }

  &__pagination {
    @media (min-width: 769px) {
      display: none;
    }
  }

  &__btn-prev,
  &__btn-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);

    width: 40px;
    height: 40px;
    svg {
      width: 16px;
      transition: 0.2s ease-out;
    }
    @media (min-width: 993px) {
      width: 60px;
      height: 60px;
      svg {
        width: 24px;
      }
    }
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #141414;
    color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;

    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        background-color: hsl(179, 49%, 85%);
      }
    }
  }

  &__btn-prev {
    left: -16px;
    svg {
      transform: rotate(180deg);
    }
  }

  &__btn-next {
    right: -16px;
  }
  @media (min-width: 993px) {
    &__btn-prev {
      left: -30px;
    }

    &__btn-next {
      right: -30px;
    }
  }
}

.listing {
  position: relative;
  padding-left: 20px;
}

.listing::before {
  position: absolute;
  left: 0;
  top: 9px;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #69cccb;
}

.team {
  margin-bottom: 60px;

  @media screen and (min-width: 993px) {
    margin-bottom: 100px;
  }
}

.feedback {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 993px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

// ==========================================

.page-appeal__pre {
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: 993px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.appeal__pre {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;

  @media screen and (min-width: 993px) {
    font-size: 21px;
  }
}

.appeal__pre:not(:last-child) {
  margin-bottom: 10px;
}

.appeal-detail {
  margin-bottom: 40px;
}

.appeal-detail__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #242424;

  @media screen and (min-width: 993px) {
    margin-bottom: 40px;
  }
}

.appeal-detail__item {
  padding: 20px;
  background-color: #f4f4f4;
}

.appeal-detail__item:not(:last-child) {
  margin-bottom: 10px;
}

.appeal-deatail__subject {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.appeal-detail__text {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.detail__list {
  margin-top: 10px;
  // position: relative;
}

.detail__item {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.detail__item:not(:last-child) {
  margin-bottom: 10px;
}

.appeal-detail__pic {
  display: block;
  width: 100%;
  height: auto;
}

.appeal-detail__wrapper {
  display: flex;
  // gap: 25;

  @media screen and (max-width: 992px) {
    margin-bottom: 20px;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 993px) {
    margin-bottom: 30px;
  }
}

.appeal-detail__info {
  @media screen and (min-width: 993px) {
    width: 50%;
    margin-right: 25px;
  }
}

.appeal-detail__photo {
  @media screen and (max-width: 992px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 993px) {
    width: 50%;
  }
}

.appeal-detail__note .appeal-detail__text:not(:last-child) {
  margin-bottom: 10px;
}

.types {
  margin-bottom: 60px;
}

.types__title {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
}

.types__list {
  margin-bottom: 30px;

  @media screen and (min-width: 993px) {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
  }
}

.types__item {
  padding: 20px;
  background-color: #f4f4f4;

  @media screen and (min-width: 993px) {
    width: 31%;
  }
}

.types__item:not(:last-child) {
  margin-bottom: 10px;
}

.types__num {
  margin-bottom: 10px;

  display: block;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  // text-align: center;
  color: #4c519e;
}

.type__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.types-trauma__item {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.types-trauma__item:not(:last-child) {
  margin-bottom: 10px;
}

.types__details {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.attention {
  margin-bottom: 60px;
}

.attention__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

.attention__wrapper {
  @media screen and (min-width: 993px) {
    display: flex;
  }
}

.attention__pic {
  display: block;
  width: 100%;
  height: auto;
}

.attention__photo {
  margin-bottom: 25px;

  @media screen and (min-width: 993px) {
    width: 50%;
  }
}

.attention__info {
  @media screen and (min-width: 993px) {
    width: 50%;
    margin-left: 25px;
  }
}

.attention__item {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.attention__item:not(:last-child) {
  margin-bottom: 10px;
}

.how-can {
  margin-bottom: 60px;
}

.how-can__title {
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #4c519e;

  @media screen and (min-width: 993px) {
    margin-bottom: 60px;

    font-size: 60px;
  }
}

.how-can__object {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

.how-can__list {
  @media screen and (min-width: 993px) {
    display: flex;
    gap: 1%;
  }
}

.how-can__item {
  background-color: #f4f4f4;
  padding: 20px;

  @media screen and (min-width: 993px) {
    width: 19%;
  }
}

.how-can__item:not(:last-child) {
  @media screen and (max-width: 992px) {
    margin-bottom: 10px;
  }
}

.how-can__num {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  // text-align: center;
  color: #4c519e;
}

.how-can__text {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.process {
  margin-bottom: 60px;
}

.process__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
}

.process__list {
  @media screen and (min-width: 993px) {
    display: flex;
    gap: 20px;
  }
}

.process__item {
  @media screen and (min-width: 993px) {
    width: 33%;
    display: flex;
    flex-direction: column;
  }
}

.process__item:not(:last-child) {
  @media screen and (max-width: 992px) {
    margin-bottom: 40px;
  }
}

.processing__list {
  padding: 20px;
  flex-grow: 1;

  background-color: #f4f4f4;
}

.processing__item {
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.processing__item:not(:last-child) {
  margin-bottom: 10px;
}
