.item-useful__img-link {
  display: block;
}

.footer__links {
  margin-top: 10px;
}

.footer__links .item-link {
  font-size: 17px;
  line-height: 1.38889;
  color: #ffffff;
  display: inline-block;
  margin-right: 14px;
  opacity: 0.7;
}

.footer__links .item-link:hover {
  opacity: 1;
}

@media (max-width: 1350px) {
  .footer__links .item-link {
    font-size: 15px;
  }
}

.header {
  background: #13153c;
}
@media (min-width: 769px) {
  .header {
    background: #13153c;
  }

  .header .header__container {
    transition: 0.3s;
    padding-bottom: 10px;
  }

  .header.header_scrolled .header__container {
    padding-bottom: 0;
  }
}

@media (min-width: 1201px) {
  .header .header__container {
    padding-bottom: 20px;
  }
}

.section__news {
  margin-top: 200px;

  @media screen and (min-width: 1440px) {
    margin-top: 276px;
  }
}

.news__title {
  margin-bottom: 30px;

  font-family: Bahnschrift;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #4c519e;

  @media screen and (min-width: 1440px) {
    font-size: 50px;
    letter-spacing: 0.02em;
  }
}

.article__img {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.articles__date {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(36, 36, 36, 0.6);
}

.articles__title {
  margin-bottom: 10px;

  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #242424;
}

.articles__text {
  margin-bottom: 20px;
  flex-grow: 1;

  font-family: Gilroy;
  font-size: 15px;
  line-height: 140%;
  color: #242424;
}

.article__more {
  display: block;

  font-family: Gilroy;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #69cccb;
}

.article__navigation {
  display: none;

  @media screen and (min-width: 993px) {
    display: block;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

.article__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 993px) {
    gap: 12px;
  }
}

.article__item {
  max-width: 411px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.navigation__list {
  display: flex;
  align-items: center;
  width: 406px;
  margin-left: auto;
  margin-right: auto;
}

.navigation__ico {
  fill: #242424;

  &:hover {
    fill: #69cccb;
  }
}

.navigation-numbers {
  display: flex;
  align-items: center;
}

.navigation__number-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  width: 50px;
  height: 50px;

  font-weight: 500;
  font-size: 17px;
  line-height: 141%;

  color: #242424;

  &:hover,
  &--active {
    background-color: #69cccb;
  }
}

// Article section

.section__article {
  margin-top: 200px;

  @media screen and (min-width: 1440px) {
    margin-top: 276px;
  }
}

.article__image {
}

.article__info {
}

.article__date {
}

.article__social-group {
}

.article__author {
}

.article__body {
}

.article__subtitle {
}
