.treatment__h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 30px;

  @media screen and (min-width: 601px) {
    margin-bottom: 60px;
  }
}

.treatment__list {
  @media screen and (min-width: 601px) {
    display: flex;
  }
}

.treatment__item {
  display: block;
  background: #d9d9d94d;
  padding: 30px 40px 30px 30px;

  @media screen and (min-width: 601px) {
    width: calc(100% / 2 - 24px);
  }
}

.certification__item {
  display: block;
  background: #d9d9d94d;
  width: 100%;
  padding: 30px 40px 30px 30px;
}

.treatment__item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 601px) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.treatment__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  text-transform: uppercase;
  color: #242424;
}

.treatment__description {
  font-weight: 700;
  font-size: 17px;
  line-height: 130%;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sertification__description {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 30px;
}

.treatmen__grid {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 17px;
  color: #242424;

  margin-bottom: 20px;
}

.treatment__sublist {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #242424;
}

.treatment__subitem {
  list-style: square;
  margin: 10px;
}

.treatment__subitem::marker {
  color: #69cccb;
}

.treatment__buttons {
  margin-bottom: 50px;
}

.treatment__group-item {
  border: 1px solid #4c519e;
  padding: 30px 25px 30px 20px;
  margin-bottom: 10px;

  @media screen and (min-width: 601px) {
    width: calc(100% / 2 - 24px);
    margin-bottom: 0;
  }
}

.treatment__group-item:not(:last-child) {
  @media screen and (min-width: 601px) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.treatment__group-description {
  font-size: 17px;
  line-height: 141%;
  color: #242424;
}

.treatment__group-list {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #4c519e;
  margin-bottom: 10px;
}

.treatment__group {
  margin-bottom: 30px;

  @media screen and (min-width: 601px) {
    display: flex;
  }
}

.what__title {
  margin-bottom: 30px;

  @media screen and (min-width: 601px) {
    margin-bottom: 60px;
  }
}

.certification__h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 20px;

  @media screen and (min-width: 601px) {
    margin-bottom: 15px;
  }
}

// testament

.testament__section {
  margin-bottom: 60px;
  @media screen and (min-width: 601px) {
    margin-bottom: 100px;
  }
}

.testament__h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 30px;

  @media screen and (min-width: 601px) {
    margin-bottom: 20px;
  }
}

.main-screen__supertitle {
  font-family: Bahnschrift;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  margin-bottom: 20px;

  @media screen and (min-width: 601px) {
    font-family: Bahnschrift;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.testament__subtitile {
  font-family: Gilroy;
  font-size: 17px;
  line-height: 23.8px;

  margin-bottom: 10px;
}

.testament__subtitile--last {
  margin-bottom: 40px;
}

.testament__item {
  display: block;
  background: #d9d9d94d;
  padding: 30px 40px 30px 30px;

  // @media screen and (min-width: 601px) {
  //   width: calc(100% / 2 - 24px);
  // }
}

.testament__item {
  display: block;
  background: #d9d9d94d;
  width: 100%;
  padding: 30px 40px 30px 30px;
}

.testament__title {
  font-family: Gilroy;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
}

.testament__subitem {
  list-style: decimal;
  margin: 10px;

  font-family: Gilroy;
  font-size: 17px;
  line-height: 23.8px;
}

.testament__subitem::marker {
  color: #69cccb;
}

.testament__sublist.testament__subitem {
  list-style: decimal;
}

.testament-_help {
  font-family: Gilroy;
  font-size: 17px;
  line-height: 23.8px;

  @media screen and (min-width: 601px) {
    text-align: center;
  }
}

.testament__ico {
  @media screen and (min-width: 601px) {
    margin-bottom: 20px;
  }
}

.testament__icon {
  @media screen and (min-width: 601px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
