.thanks-letters {
	
	padding: 50px 0 150px;
	@media (max-width: 992px) {
		padding: 50px 0 150px;
	}
	@media (max-width: 600px) {
		padding: 25px 0 100px;
	}
}

.thanks-letters .thanks-letters {

	&__container {
	}
	
	&__body {
		background: #E5E5E5;
		padding-top: 108px;
		padding-bottom: 124px;
		@media (max-width: 992px) {
			padding-top: 75px;
			padding-bottom: 85px;
		}
		@media (max-width: 425px) {
			padding-top: 50px;
			padding-bottom: 60px;
		}
		@media (min-width: 993px) {
			display: grid;
			grid-template-columns: minmax(150px, 290px) minmax(150px, 290px) minmax(150px, 290px);
			gap: 54px;
			justify-content: center;
			@media (max-width: 1439px) {
				grid-template-columns: minmax(150px, 240px) minmax(150px, 240px) minmax(150px, 240px);
			}
		}
	}

	&__item {
		@media (max-width: 992px) {
			display: block;
			width: (220px/288px) * 100%;
			max-width: 290px;
			margin: 0 auto;
			&:not(:last-child) {
				margin: 0 auto 28px;
			}
		}
	}
}

.thanks-letters .item-letter {
	@media (any-hover: hover) {
		&:hover {
			.item-letter__btn {
				transform: scale(1.1);
			}
		}
	}
	position: relative;
	&__image {
		padding: (410px/290px) * 100% 0 0 0;
		border-radius: 10px;
		box-shadow: 9px 11px 0px #CAC9C9;
		@media (max-width: 425px) {
			box-shadow: 7px 8px 0px #CAC9C9;
		}

	}

	&__btn {
		position: absolute;
		bottom: 9px;
		right: 11px;
		transition: 0.2s ease-out;
		img {transition: 0.2s ease-out;}
		@media (max-width: 425px) {
			width: 35px;
		}
	}
}